#main_frame #page_frame #list_frame .line table td.numi         { width: 60px;  text-align: center; }
#main_frame #page_frame #list_frame .line table td.purpose_name { width: 200px; text-align: center; }
#main_frame #page_frame #list_frame .line table td.name         { width: 300px; text-align: left;   }
#main_frame #page_frame #list_frame .line table td.date         { width: 100px; text-align: center; }
#main_frame #page_frame #list_frame .line table td.expert       { width: 140px; text-align: center; }
#main_frame #page_frame #list_frame .line table td.consume      { width: auto;  text-align: left;   }

#main_frame #page_frame #list_frame .line table td.consume .consume_elem{ border: 1px solid #5F5F5F; border-radius: 3px; background: #BDFFBD; opacity: 0.8; display: inline-block; padding: 5px; margin: 2px; min-width: 100px; }
#main_frame #page_frame #list_frame .line table td.consume .consume_elem:hover{  }
#main_frame #page_frame #list_frame .line table td.consume .consume_elem .reagent_name{ }
#main_frame #page_frame #list_frame .line table td.consume .consume_elem .reagent_number{  }
#main_frame #page_frame #list_frame .line table td.consume .consume_elem .quantity{ }
#main_frame #page_frame #list_frame .line table td.consume .consume_elem .units_short_name{ }




.default_editor .sides{  }
.default_editor .sides .side{ float: left; width: 50%; }
.default_editor .sides .side .list{ width: 100%; }
.default_editor .sides .side .listline{ border: 1px solid #3F3F3F; padding: 5px; height: 200px; width: 100%; overflow: hidden; overflow-y: scroll; }

.default_editor .elem.exp_date .input[data-important="1"]{ padding-left: 22px; }

.default_editor .elem.dnone{ display: none; }

.default_editor .elem.purpose{ width: 50%;  }
.default_editor .elem.tech_info{ width: 50%;  }

.default_editor .elem.date{ width: 20%;  }
.default_editor .elem.user_id{ width: 40%;  }
.default_editor .elem.ucomment{ width: 40%;  }


.default_editor .elem.exp_number{ width: 30%;  }
.default_editor .elem.obj_count{ width: 20%;  }

.default_editor .elem.reactiv_menu_id{ width: 33%; }
.default_editor .elem.quantity_inc{ width: 11%; }
.default_editor .elem.units_short_name{ width: 6%; }


.default_editor .listline .consume{ width: 100%; padding: 5px 18px 5px 5px; margin: 3px 0px 2px 0px; border: 1px solid #3F3F3F; background: #DDFFDB; opacity: 0.75; cursor: pointer; position: relative; }
.default_editor .listline .consume:hover{ opacity: 1.0; }
.default_editor .listline .consume table{ width: 100%; }
.default_editor .listline .consume table td{ width: auto; padding: 10px 0px 10px 0px; }
.default_editor .listline .consume table td.name{ width: auto;  }
.default_editor .listline .consume .remove{ position: absolute; bottom: 34%; right: 2px; height: 18px; width: 18px; background: url(../img/delete-red-16px.png) no-repeat 50% 50%; display: none; opacity: 0.5; }
.default_editor .listline .consume[data-consume_hash=""] .remove{ display: block; }
.default_editor .listline .consume .remove:hover{ cursor: pointer; opacity: 1.0; }


.default_editor .listline .consume table td.name .reagent_name_fr{ width: 280px; overflow: hidden; }
.default_editor .listline .consume table td.quantity .quantity_fr{  }

.default_editor .listline .consume table td.name .reagent_name,
.default_editor .listline .consume table td.name .reagent_number,
.default_editor .listline .consume table td.name .inc_date,
.default_editor .listline .consume table td.name .available{ display: block; width: 100%; overflow: hidden; }
.default_editor .listline .consume table td.name .reagent_name{ font-weight: bold; text-transform: uppercase; font-size: 1.0em; letter-spacing: 0.05em; }
.default_editor .listline .consume table td.name .reagent_number{ font-weight: normal; text-transform: uppercase; font-size: 0.9em; opacity: 0.8; letter-spacing: 0.05em; }

.default_editor .listline .consume table td.quantity{ text-align: left; padding-left: 5px; }
.default_editor .listline .consume table td.quantity .input[name="consume_quantity"]{            width: 60px;               text-align: left; padding-left: 5px; }
.default_editor .listline .consume table td.quantity .input[name="units_short_name"]{    width: 25px; border: none; text-align: left; background: none; }
.default_editor .listline .consume table td.quantity .reagent_units_short{ display: block; width: 25px; overflow: hidden; float: right; text-align: center; }

.default_editor .selectable_list{ border: 1px solid #3F3F3F; margin: 10px 0px 0px 0px; padding: 5px; height: 200px; width: 100%; overflow: hidden; overflow-y: scroll; }
.default_editor .selectable_list .line{ width: 100%; padding: 7px 5px 7px 5px; margin: 3px 0px 2px 0px; border: 1px solid #3F3F3F; background: #FFF9E5; opacity: 0.75; cursor: pointer; position: relative; }
.default_editor .selectable_list .line[data-quantity_inc="0"]{ display: none; }
.default_editor .selectable_list .line:hover{ opacity: 1.0; }
.default_editor .selectable_list .line:active{ opacity: 1.0; background-color: #FFE4DB; }
.default_editor .selectable_list .line table{ width: 100%; }
.default_editor .selectable_list .line table td{ width: auto; text-align: center; }
.default_editor .selectable_list .line table td.reagent{ text-align: left; vertical-align: top; }
.default_editor .selectable_list .line table td.reagent .name{ display: block; }
.default_editor .selectable_list .line table td.reagent .quantity_left{ display: block; }
.default_editor .selectable_list .line table td.number{ width: 60px; }
.default_editor .selectable_list .line table td.inc_date{ width: 80px; }
.default_editor .selectable_list .line table td.dead_date{ width: 80px; }
.default_editor .selectable_list .line table td.date{ width: 80px; }
.default_editor .selectable_list .line table td span{ display: block; font-weight: bold; }
.default_editor .selectable_list .line table td span b{ font-weight: bold; }
.default_editor .selectable_list .line table td span label{ display: block; font-size: 0.85em; text-transform: uppercase;  opacity: 0.75; }
.default_editor .selectable_list .line table td span.dead_date{ margin-top: 5px; color: #3D0000 }
.default_editor .selectable_list .line table td span.quantity_left{ font-weight: normal; }
.default_editor .selectable_list .line .expert{ font-weight: normal; opacity: 0.8; display: block; position: absolute; bottom: 3px; left: 7px; }







