@charset "windows-1251";

#main_frame #page_frame #list_frame.stock #list .line table td.numi{ width: 60px; text-align: center; }
#main_frame #page_frame #list_frame.stock #list .line table td.reagent{ width: 300px; text-align: left; }
#main_frame #page_frame #list_frame.stock #list .line table td.number{ width: 100px; text-align: center; }
#main_frame #page_frame #list_frame.stock #list .line table td.quantity_inc{ width: 100px; text-align: center; }
#main_frame #page_frame #list_frame.stock #list .line table td.quantity_left{ width: 100px; text-align: center; }
#main_frame #page_frame #list_frame.stock #list .line table td.quantity_dispersed{ width: 100px; text-align: center; }
#main_frame #page_frame #list_frame.stock #list .line table td.quantity_not_used{ width: 100px; text-align: center; }
#main_frame #page_frame #list_frame.stock #list .line table td.inc_date{ width: 150px; text-align: center; }
#main_frame #page_frame #list_frame.stock #list .line table td.dead_date{ width: 150px; text-align: center; }


.default_editor .elem.nakladna_num       { width: 70%;  }
.default_editor .elem.nakladna_date      { width: 30%;  }

.default_editor .elem.reagent       { width: 75%;  }
.default_editor .elem.quantity      { width: 15%;  }
.default_editor .elem.units         { width: 10%;  }
.default_editor .elem.units input   { border: none; text-align: left; background: none; }

.default_editor .elem.create_date   { width: 33%;  }
.default_editor .elem.inc_date      { width: 33%;  }
.default_editor .elem.dead_date     { width: 34%;  }

.default_editor .elem.clearence     { width: 20%;  }
.default_editor .elem.reagent_state { width: 30%;  }
.default_editor .elem.certif        { width: 20%;  }
.default_editor .elem.is_suitability{ width: 30%;  }

.default_editor .elem.danger_class  { width: 30%;  }
.default_editor .elem.safe_needs    { width: 40%;  }
.default_editor .elem.safe_place    { width: 30%;  }

.default_editor .elem.creator       { width: 50%; }
.default_editor .elem.provider      { width: 50%; }
.default_editor .elem.comment       { width: 100%; }
.default_editor .elem.expert        { width: 100%; }


.default_editor .elem.reagent,
.default_editor .elem.quantity,
.default_editor .elem.reagent_state,
.default_editor .elem.clearence,
.default_editor .elem.inc_date,
.default_editor .elem.units{ background: #D6FFD1 }
.default_editor .elem.dead_date{ background: #FFE5E0 }
.default_editor .elem.create_date,
.default_editor .elem.creator{ background: #E5F0FF }
.default_editor .elem.provider{ background: #E5F0FF }
.default_editor .elem.certif,
.default_editor .elem.is_suitability{ background: #F8E5FF }

.default_editor .elem.danger_class{ background: #FFD3D1 }
.default_editor .elem.safe_needs{ background: #FFDDDB }
.default_editor .elem.safe_place{ background: #FFE7E5 }


.ui-dialog .ui-dialog-buttonpane button.ui-button[data-role="terms"]{ display: block; width: 80px; height: 40px; overflow: hidden; position: absolute; top: 0px; left: 400px; border: none; background: #8500CC url(../img/date_terms.png) no-repeat 50% 50%; opacity: 0.6; }
.ui-dialog .ui-dialog-buttonpane button.ui-button[data-role="terms"]:hover{ opacity: 1.0; }



.default_editor.prolongation{  }

.default_editor.prolongation .elem.reagent_name{ width: 100%; }
.default_editor.prolongation .elem.expert_id{ width: 100%; }
.default_editor.prolongation .elem.prolong_button{ width: 100%; text-align: center; }
.default_editor.prolongation #prolongation_history.elem{ width: 100%;  }
.default_editor.prolongation #prolongation_history.elem .list{ width: 100%; height: 200px; overflow: scroll; overflow-x: hidden; padding: 5px; border: 1px solid #1F1F1F; font-size: 14px; }
.default_editor.prolongation #prolongation_history.elem .list .show_add_panel{ border: 1px solid #3F3F3F; background: #006100; color: #FFFFFF; font-weight: bold; font-size: 12px; opacity: 0.7; text-align: center; text-transform: uppercase; padding: 15px 5px 15px 5px;  }
.default_editor.prolongation #prolongation_history.elem .list .show_add_panel:hover{ opacity: 0.9; cursor: pointer; }
.default_editor.prolongation #prolongation_history.elem .list .line{ border: 1px solid #3F3F3F; background: #DDFFD1; padding: 5px; margin: 5px 0px 5px 0px; }
.default_editor.prolongation #prolongation_history.elem .list .line table{ width: 100%; }
.default_editor.prolongation #prolongation_history.elem .list .line table td{ width: auto; border-collapse: collapse; vertical-align: middle; text-align: center; }
.default_editor.prolongation #prolongation_history.elem .list .line table td.act{ width: 100px; }
.default_editor.prolongation #prolongation_history.elem .list .line table td.act span{ display: block; }
.default_editor.prolongation #prolongation_history.elem .list .line table td.expert{ width: auto; }
.default_editor.prolongation #prolongation_history.elem .list .line table td.expert span{  }
.default_editor.prolongation #prolongation_history.elem .list .line table td.date_prolong{ width: 120px; }
.default_editor.prolongation #prolongation_history.elem .list .line table td.date_prolong span{ display: block; padding: 5px; font-weight: bold; text-align: right; }
.default_editor.prolongation #prolongation_history.elem .list .line table td.remove{ width: 22px; text-align: center; }
.default_editor.prolongation #prolongation_history.elem .list .line table td.remove span{ display: inline-block; width: 18px; height: 18px; background: url(../img/delete-red-16px.png) no-repeat 50% 50%; cursor: pointer; opacity: 0.3; }
.default_editor.prolongation #prolongation_history.elem .list .line table td.remove span:hover{ opacity: 1.0; }
.default_editor.prolongation button.add_prolong{ display: inline-block; width: 200px; height: 40px; font-size: 1.0em; overflow: hidden; border: none; text-align: center; background: #006100; color: #FFFFFF; opacity: 0.8; }
.default_editor.prolongation button.add_prolong:hover{ background: #006100; color: #FFFFFF; opacity: 1.0; }



