@charset "windows-1251";
article,aside,figcaption,figure,footer,header,main,hgroup,nav,section,time,ul,ol,h1,h2,h3{ display: block; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-sizing: border-box; }
html,body,div,main,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,textarea,span{margin: 0; padding: 0; -moz-box-sizing: border-box; box-sizing: border-box; }
table, tr, tr{ -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-sizing: border-box; }
input, textarea, select, button, body{  }
body{ color: #222222; background: #FFFFFF; }
*{
    font-kerning: normal;
    -webkit-font-kerning: normal;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    z-index: : 1;
 }

a, select, option{ cursor: pointer; }

ul.reset{ list-style: none; }

a:link, a:visited, .anim
{
    -webkit-transition: color 0.2s ease, background 0.2s ease;
    -moz-transition: color 0.2s ease, background 0.2s ease;
    -ms-transition: color 0.2s ease, background 0.2s ease;
    -o-transition: color 0.2s ease, background 0.2s ease;
    transition: color 0.2s ease, background 0.2s ease;
}

a:link, a:visited
{
    color: #398dd8;
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
}
a:active{ outline: none; }

a img  { border: 0 none; }
.clear{ clear: both; }
.w_600_min{ min-width: 600px; }
.bg_noimage{ background-image: none; }
.dnone{ display: none; }
.center{ text-align: center; }

input:disabled{ cursor: not-allowed; }

input::-moz-focus-inner{border:0;padding:0;}
button::-moz-focus-inner{border:0;padding:0;}
select::-moz-focus-inner{border:0;padding:0;}
textarea::-moz-focus-inner{border:0;padding:0;}
option::-moz-focus-inner{border:0;padding:0;}

/*********************************/

body{ padding: 2mm; font-size: 14pt; }
table.data{ width: 100%; border: 1px solid rgba(17, 17, 17, 1); border-collapse: collapse; }
table.data th,
table.data td{ width: auto; border: 1px solid rgba(17, 17, 17, 1); border-collapse: collapse; padding: 1mm; }
table.data td.numi{ width: 5%; text-align: center; }
table.data td.hash{ width: 5%; text-align: center; font-family: "Courier New", Courier, monospace; font-size: 10pt; text-transform: uppercase; }
table.data td.using_date{ width: 10%; text-align: center; }
table.data td.purpose_name{ width: 15%; text-align: center; }
table.data td.name{ width: 10%; text-align: center; }
table.data td.expert{ width: auto; text-align: center; }
table.data td.consume{ width: 40%; text-align: left; }

table.data td.consume .consume_elem{ display: block; padding: 1mm 0px 1mm 0px; margin: 0mm 2mm 0mm 2mm; border-bottom: 1px dashed rgba(34, 34, 34, 1); }
table.data td.consume .consume_elem:last-of-type{ border-bottom: none; }

table.data th{ text-align: center; padding: 6mm 0mm 6mm 0mm; background: rgba(204, 204, 204, 1); font-weight: bold; }