#main_frame #page_frame #list_frame #list{ height: 100%; margin-top: 0px; }

#main_frame #page_frame #list_frame .stats_table tr.data .numi{ text-align: center; width: 40px; background: #CCCCCC; }
#main_frame #page_frame #list_frame .stats_table tr.data .name{ text-align: left; width: auto; }
#main_frame #page_frame #list_frame .stats_table tr.data .data_numeric{ text-align: center; width: 10%; }
#main_frame #page_frame #list_frame .stats_table tr.data .reagent_number{ text-align: center; width: 100px; }

#main_frame #page_frame #list_frame .stats_table tr td.reactiv_quantity_inc, #main_frame #page_frame #list_frame .stats_table tr th.reactiv_quantity_inc{ background: #FFFFBD; }
#main_frame #page_frame #list_frame .stats_table tr.head th.reactiv_quantity_inc{ background: #FFFFA3; }

#main_frame #page_frame #list_frame .stats_table tr td.reactiv_quantity_left, #main_frame #page_frame #list_frame .stats_table tr th.reactiv_quantity_left{ background: #FFFFD1; }
#main_frame #page_frame #list_frame .stats_table tr.head th.reactiv_quantity_left{ background: #FFFFB2; }


#main_frame #page_frame #list_frame .stats_table tr td.consume_quantity, #main_frame #page_frame #list_frame .stats_table tr th.consume_quantity{ background: #FFDBDB; }
#main_frame #page_frame #list_frame .stats_table tr.head th.consume_quantity{ background: #FFBDBD; }

#main_frame #page_frame #list_frame .stats_table tr.data:hover td{  }


#main_frame #page_frame #list_frame nav ul{ margin-left: 40px; }
#main_frame #page_frame #list_frame nav ul li{ margin: 5px; }

#main_frame #page_frame #list_frame h2{ text-align: center; font-weight: bold; margin: 30px 10px 20px 10px; }
#main_frame #page_frame #list_frame h2:first-of-type{ margin-top: 0px; }


