#main_frame #page_frame #list_frame #list .line table td.numi{ width: 60px; text-align: center; }
#main_frame #page_frame #list_frame #list .line table td.name{ width: 380px; text-align: left; }
#main_frame #page_frame #list_frame #list .line table td.units{ width: 180px; text-align: center; }

.default_editor .elem.reagent       { width: 100%;  }
.default_editor .elem.name          { width: 100%;  }
.default_editor .elem.units         { width: 100%;  }