#chat_frame{ height: 100%; overflow: hidden; }
#chat_frame #chat_messages{ height: calc( 100% - 100px ); overflow: scroll; overflow-x: hidden; padding: 5px; border-bottom: 1px solid rgba(68, 68, 68, 1.0); }
#chat_frame #chat_textbox{ height: 100px; }
#chat_frame #chat_textbox table{ width: 100%; }
#chat_frame #chat_textbox table td.textbox{ width: calc( 100% - 160px ); padding: 5px; }
#chat_frame #chat_textbox table td.textbox textarea
{
    height: calc( 100px - 10px );
    width: 100%;
    resize: none;
    padding: 5px 5px 5px 5px;
    text-align: justify;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 1.2em;
}
#chat_frame #chat_textbox table td.send_button{ width: 160px; }
#chat_frame #chat_textbox table td.send_button button{ width: 140px; height: 60px; background-color: rgba(0, 51, 102, 1); }

#chat_frame #chat_messages .message{ border: 1px solid rgba(168, 222, 255, 1); background: rgba(168, 222, 255, 0.5); font-size: 1.2em; position: relative; padding: 0px; margin-bottom: 3px; }
#chat_frame #chat_messages .message table{ height: 100%; width: 100%; }
#chat_frame #chat_messages .message table td{ padding: 5px; }
#chat_frame #chat_messages .message .message_avtor{ width: 200px; font-weight: bold; color: rgba(68, 68, 68, 0.8); font-style: italic; text-align: right; }
#chat_frame #chat_messages .message .message_avtor span{ text-transform: uppercase; }
#chat_frame #chat_messages .message .message_text { width: auto; }
#chat_frame #chat_messages .message .message_text div{ font-size: 1.0em; font-style: italic; white-space: pre-wrap; word-wrap: break-word; }
#chat_frame #chat_messages .message .message_time { width: 140px; font-size: 0.7em; text-align: right; color: rgba(68, 68, 68, 0.7); }

#chat_frame #chat_messages .message a[data-login][data-access_id="1"]{ --main-color: #750000; border-color: var(--main-color); color: var(--main-color); }
#chat_frame #chat_messages .message a[data-login][data-access_id="2"]{ --main-color: #FF0033; border-color: var(--main-color); color: var(--main-color); }
#chat_frame #chat_messages .message a[data-login][data-access_id="3"]{ --main-color: #009900; border-color: var(--main-color); color: var(--main-color); }
#chat_frame #chat_messages .message a[data-login][data-access_id="4"]{ --main-color: #222222; border-color: var(--main-color); color: var(--main-color); }
#chat_frame #chat_messages .message a{ cursor: pointer; }
#chat_frame #chat_messages .message a:hover{ cursor: pointer; border-bottom: 1px dashed var(--main-color); }

#chat_frame #chat_messages .message u{ text-decoration: none; border-bottom: 1px solid #333333; }

#chat_frame #chat_messages .message [data-color="red"]      { --main-color: #CC0000; color: var(--main-color); border-color: var(--main-color); }
#chat_frame #chat_messages .message [data-color="green"]    { --main-color: #009900; color: var(--main-color); border-color: var(--main-color); }
#chat_frame #chat_messages .message [data-color="blue"]     { --main-color: #003399; color: var(--main-color); border-color: var(--main-color); }
#chat_frame #chat_messages .message [data-color="yellow"]   { --main-color: #FFCC00; color: var(--main-color); border-color: var(--main-color); }
#chat_frame #chat_messages .message [data-color="pink"]     { --main-color: #FF00FF; color: var(--main-color); border-color: var(--main-color); }
#chat_frame #chat_messages .message [data-color="black"]    { --main-color: #000000; color: var(--main-color); border-color: var(--main-color); }

#chat_frame #chat_messages .message [data-color] u{ border-color: var(--main-color); }

#chat_frame #chat_messages .message .align_left   { text-align: left;    }
#chat_frame #chat_messages .message .align_center { text-align: center;  }
#chat_frame #chat_messages .message .align_right  { text-align: right;   }
#chat_frame #chat_messages .message .align_justify{ text-align: justify; }


